In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "A" : [1, 2, 3],
    "B" : [4, 5, 6],
})

In [ ]:
df.describe() # The output will show the count, mean, std, min, 25%, 50%, 75%, and max for each column

         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

In [ ]:
df.mean() # Mean of each column

A    2.0
B    5.0
dtype: float64

In [ ]:
df.corr() # Correlation matrix

     A    B
A  1.0  1.0
B  1.0  1.0

In [7]:
df.count() # Count of non-null values in each column

A    3
B    3
dtype: int64

In [8]:
df.max() # Maximum value in each column

A    3
B    6
dtype: int64

In [9]:
df.median() # Median of each column

A    2.0
B    5.0
dtype: float64

In [10]:
df.std()

A    1.0
B    1.0
dtype: float64